<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <ul class="nav nav-tabs">
        <li
            role="presentation"
            ng-repeat="gameCategory in categoriesBar.gameCategories | orderBy: 'order'"
            ng-class="{active: gameCategory.slug == categoriesBar.activeCategory}"
        >
            <a ui-sref="root.gamesCategory({gameCategorySlug: gameCategory.slug})">
                {{::gameCategory.name}}
            </a>
        </li>
    </ul>
</div>
