<div class="form-group">
    <label for="exampleInputEmail1">Wanna play a game?</label>
    <input
        type="search"
        class="form-control"
        id="exampleInputEmail1"
        placeholder="Name it"
        ng-model="query.name"
    >
    <div class="searchBox__results">
        <div ng-if="query.name.length">
            <ul class="gamesList" ng-if="gamesSearch.games">
                <li class="gamesList__item" ng-repeat="game in gamesSearch.filteredGames = (gamesSearch.games | filter:query:strict)">
                    <a
                        class="gamesList__itemLink"
                        ui-sref="root.gamesCategory.game({gameId: game.id})"
                        style="background-image: url({{::game.thumbnails['280x280']}})"
                        ng-click="$root.isSearchBoxVisible = false;"
                    >
                        <span class="gamesList__itemText" ng-if="!game.thumbnails['280x280'].length">
                            <span class="gamesList__itemTextInner">
                                {{::game.name}}
                            </span>
                        </span>
                    </a>
                </li>
            </ul>

            <p ng-if="!gamesSearch.filteredGames.length" class="text-center">
                "<strong>{{query.name}}</strong>" was not found.
            </p>

        </div>
    </div>
</div>
