<div class="container">

    <header class="row">
        <div class="col-lg-12">

            <nav class="navbar navbar-default siteHeader">
                <div class="container-fluid">
                    <h1 class="siteHeader__h1">
                        <a class="navbar-brand" href="#" ui-sref="root.home">Cherry games</a>
                    </h1>
                    <button
                        type="button"
                        class="btn btn-default navbar-btn pull-right"
                        ng-click="$root.isSearchBoxVisible = !$root.isSearchBoxVisible"
                    >
                            {{ $root.isSearchBoxVisible ? 'Close search' : 'Search' }}
                        </button>
                </div>
            </nav>

            <div class="searchBox">
                <div class="searchBox__content">
                    <div class="searchBox__search" games-search></div>
                </div>
            </div>

        </div>
    </header>

    <main ui-view="body" class="body"></main>

    <footer class="row">
        <div class="col-lg-12">
            <div class="well well-sm">
                <p>&copy; It is supposed to be a meaningless footer</p>
            </div>
        </div>
    </footer>

</div>
