.gamesList {
    text-align: center;

    &__item {
        min-width: 200px;
        min-height: 200px;
        position: relative;
        display: inline-block;
        margin: 10px;
        background-color: #eee;
        box-shadow: 0 0 5px rgba(0,0,0,.6);
        border-radius: 4px;

        &Link {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            border: 10px solid $color_blue;
            padding: 20px;
            background-position: 50%;
            background-size: cover;
            transition: border .2s;
            color: $color_black;

            &:hover,
            &:focus,
            &:active {
                border-color: $color_red;
                color: $color_red;
                text-decoration: none;
            }
        }

        &Text {
            display: table;
            width: 100%;
            height: 100%;

            &Inner {
                display: table-cell;
                vertical-align: middle;
                font-size: 20px;
                font-weight: 700;
            }
        }
    }
}
