@keyframes spinnerBounce {
    from,
    to {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}

.loading {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;

    &__msg {
        font-weight: 700;
    }

    &__spinner {
        width: 40px;
        height: 40px;
        position: relative;
        display: inline-block;

        &Bounce1,
        &Bounce2 {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            background-color: $color_red;
            opacity: .6;

            animation: spinnerBounce 1.5s infinite ease-in-out;
        }

        &Bounce2 {
            animation-delay: -1s;
        }
    }
}
