.searchBox {
    width: 90%;
    height: 0;
    min-height: 0;
    position: absolute;
    z-index: 5;
    left: 0;
    margin: -30px 0 30px 5%;
    background-color: $color_blue;
    box-shadow: 0 0 15px -3px rgba(0, 0, 0, 0.4);
    border-radius: 0 5px 5px 0;
    overflow: hidden;
    transition: all .4s;
    /*transform: translateY(-100%);*/

    // Visible state
    .isSearchBoxVisible & {
        height: calc(100vh - 100px);
        min-height: 360px
    }

    &__content {
        padding: 30px;
    }

    &__results {
        margin-top: 30px;
        min-height: 200px;
        max-height: calc(100vh - 260px);
        overflow-y: scroll; /* has to be scroll, not auto */
    }
}
