<article class="view view--game">

    <div
        class="row categoriesBar"
        categories-bar
        categories-bar-active-category="{{gameVm.activeGameCategorySlug}}"
    ></div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title pull-left">{{::gameVm.game.name}}</h3>
            <a ui-sref="root.gamesCategory" class="btn btn-default pull-right">Close</a>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <p
                ng-if="gameVm.game.meta.description_long.length"
                ng-bind-html="gameVm.game.meta.description_long | sanitize"
            ></p>
            <p ng-if="!gameVm.game.meta.description_long.length">
                Game has no description. Let's just play it!
            </p>
        </div>
    </div>


</article>
