// Colors
////////////////////////////////////////////////////////////////////////////////
$color_white: #fff;
$color_black: #000;
$color_blue: #d9edf7; // Value should actually be inherted from Twitter bootstrap vars
$color_red: #a94442; // Value should actually be inherted from Twitter bootstrap vars


// Fonts
////////////////////////////////////////////////////////////////////////////////
// $font_serif: freight-display-pro, serif;
// $font_sansSerif: usual, sans-serif;
