// Custom extension of normalize.css
////////////////////////////////////////////////////////////////////////////////

html {
    background: $color_white;
}

* {
    background-repeat: no-repeat;
}

html,
body,
button {
    -moz-osx-font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}


html, button, input, select, textarea {
    font-size: 100%;
    word-wrap: break-word;
    // font-family: $openSans;
    // color: $color_black;
    // overflow-y: scroll; // to prevent "jumping" the body width when transitioning between views having and not having a scrollbar
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }

    &:active {
        outline: thin dotted;
    }
}

dl, menu, ol, ul, li, dt, dd {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img {
    display: block;
    vertical-align: middle;
}

input[type="text"],
input[type="email"],
input[type="number"],
input[type="tel"],
input[type="month"],
input[type="search"],
input[type="password"],
input[type="button"],
input[type="submit"],
textarea {
    appearance: none;
    border-radius: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

[placeholder] {
    &::-webkit-input-placeholder {
        color: #999;
        font-weight: 400;
    }

    &::-moz-placeholder {
        color: #999;
        font-weight: 400;
    }

    &:focus::-webkit-input-placeholder {
        -webkit-transition: opacity 2s 2s ease;
        transition: opacity 2s 2s ease;
        opacity: 0;
    }

    &:focus::-moz-placeholder {
        -moz-transition: opacity 2s 2s ease;
        transition: opacity 2s 2s ease;
        opacity: 0;
    }
}

textarea {
    resize: vertical;
}

// Prevent flash of alt text when page is loading (requires cssua.js)
.ua-firefox img {
    color: transparent;
}
