<article class="view view--category">

    <div
        class="row categoriesBar"
        categories-bar
        categories-bar-active-category="{{gamesCategoryVm.activeGameCategorySlug}}"
    ></div>

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

            <div class="loading" ng-if="!gamesCategoryVm.games">
                <div class="loading__spinner">
                    <div class="loading__spinnerBounce1"></div>
                    <div class="loading__spinnerBounce2"></div>
                </div>
                <p class="loading__msg">Games for you are in the way&hellip;</p>
            </div>

            <ul class="gamesList">
                <li class="gamesList__item" ng-repeat="game in gamesCategoryVm.games">
                    <a
                        class="gamesList__itemLink"
                        ui-sref="root.gamesCategory.game({gameId: game.id})"
                        style="background-image: url({{::game.thumbnails['280x280']}})"
                    >
                        <span class="gamesList__itemText" ng-if="!game.thumbnails['280x280'].length">
                            <span class="gamesList__itemTextInner">
                                {{::game.name}}
                            </span>
                        </span>
                    </a>
                </li>
            </ul>

        </div>
    </div>

</article>
