<article class="view view--home">

    <div class="row">
        <div class="col-lg-12">

            <div class="panel panel-info">
                <div class="panel-heading">
                    <h2 class="panel-title">Game categories</h2>
                </div>
                <div class="panel-body">

                    <div class="loading" ng-if="!homeVm.gameCategories">
                        <div class="loading__spinner">
                            <div class="loading__spinnerBounce1"></div>
                            <div class="loading__spinnerBounce2"></div>
                        </div>
                        <p class="loading__msg">Games for you are in the way&hellip;</p>
                    </div>

                    <div class="list-group" ng-repeat="gameCategory in homeVm.gameCategories">
                        <a ui-sref="root.gamesCategory({gameCategorySlug: gameCategory.slug})" class="list-group-item">
                            <span class="badge">{{::gameCategory._embedded.games.length}}</span>
                            {{::gameCategory.name}}
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>


</article>
